@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <marquee>
    <h1 class="display-4">MVCMovies</h1>
    </marquee>
    <img src="~/image/depositphotos_76840867-stock-illustration-pointing-at-himself-emoticon.jpg" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
